
<h1 class="page-header">環境の画面です</h1>


<div class="panel panel-primary">
	<div class="panel-heading">
		<div>グループ</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/project/group/regist}" th:object="${form}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="hidden" th:field="*{environmentName}" />
			<input type="text" class="form-control" th:field="*{groupName}" placeholder="groupName" />
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>environment</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="serviceGroup,iterStat : ${serviceGroupList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td>
						<a th:href="@{/serviceGroup/view(projectName=${serviceGroup.projectName}, environmentName=${serviceGroup.environmentName}, groupName=${serviceGroup.groupName})}"
						th:text="${serviceGroup.groupName}" />
					</td>
					<td class="text-center">
						<form th:action="@{/project/serviceGroup/delete}" th:object="${serviceGroupKey}" method="POST">
							<input type="hidden" th:field="*{projectName}" />
							<input type="hidden" th:field="*{environmentName}" />
							<input type="hidden" name="groupName" th:value="${serviceGroup.groupName}" />
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>変数登録</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/project/environmentVariable/regist}" th:object="${variableForm}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="hidden" th:field="*{environmentName}" />
			<select class="form-control" th:field="*{variableName}">
				<option th:each="variableName : ${allVariableNameList}" th:value="${variableName}" th:label="${variableName}" />
			</select>
			<input type="text" class="form-control" th:field="*{value}" placeholder="value" />
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		
		<br />		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>variable</th>
					<th>value</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="variable,iterStat : ${variableList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td th:text="${variable.variableName}" />
					<td th:text="${variable.value}" />
					<td class="text-center">
						<form th:action="@{/project/environmentVariable/delete}" th:object="${environmentVariableKey}" method="POST">
							<input type="hidden" th:field="*{projectName}" />
							<input type="hidden" th:field="*{environmentName}" />
							<input type="hidden" name="variableName" th:value="${variable.variableName}" />
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
