<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>ロールの画面です</div>
	
	<br />
	<div>タスク登録</div>
	<form action="#" th:action="@{/project/task/regist}" th:object="${form}" method="post">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{roleName}" />
		<table border="1" rules="all">
			<tr>
				<td>moduleName</td>
				<td>description</td>
				<td>freeForm</td>
				<td>sort</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{moduleName}">
						<option th:each="moduleName : ${moduleNameList}" th:value="${moduleName}" th:label="${moduleName}" />
					</select>
				</td>
				<td><input type="text" th:field="*{description}" /></td>
				<td><input type="text" th:field="*{freeForm}" /></td>
				<td><input type="text" th:field="*{sort}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>タスク一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>task</td>
			<td>description</td>
		</tr>
		<tr th:each="task : ${taskList}">
			<td><a th:href="*{roleName} + '/' + ${task.taskId}" th:text="${task.moduleName}" /></td>
			<td th:text="${task.description}" />
			<td th:text="${task.parametersValue}" />
		</tr>
	</table>
	
	<br />
	<div>テンプレートアップロード</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/project/template/upload}" th:object="${uploadForm}">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{roleName}" />
		File to upload: 
		<input type="file" th:field="*{file}" />
		<br />
		<input type="submit" value="Upload" /> Press here to upload the file!
	</form>
	<div>テンプレート一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>template</td>
			<td>Download</td>
			<td>Delete</td>
		</tr>
		<tr th:each="template : ${templateList}">
			<td th:text="${template.templateName}" />
			<form method="POST" enctype="multipart/form-data" th:action="@{/project/download/template}" th:object="${fileForm}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${template.templateName}" />
				<td><input type="submit" value="Download" /></td>
			</form>
			<form method="POST" enctype="multipart/form-data" th:action="@{/project/template/delete}" th:object="${fileForm}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${template.templateName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br />
	<div>ファイルアップロード</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/project/file/upload}" th:object="${uploadForm}">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{roleName}" />
		File to upload: 
		<input type="file" th:field="*{file}" />
		<br />
		<input type="submit" value="Upload" /> Press here to upload the file!
	</form>
	<div>ファイル一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>file</td>
			<td>Download</td>
			<td>Delete</td>
		</tr>
		<tr th:each="file : ${fileList}">
			<td th:text="${file.fileName}" />
			<form method="POST" enctype="multipart/form-data" th:action="@{/project/download/file}" th:object="${fileForm}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${file.fileName}" />
				<td><input type="submit" value="Download" /></td>
			</form>
			<form method="POST" enctype="multipart/form-data" th:action="@{/project/file/delete}" th:object="${fileForm}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${file.fileName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
</body>
</html>