<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<form action="#" th:action="@{/project/regist}" th:object="${form}" method="post">
		<table border="1" rules="all">
			<tr>
				<td>project</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{projectName}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<div>プロジェクト一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>project</td>
		</tr>
		<tr th:each="project : ${projectList}">
			<td th:text="${project.projectName}"/>
		</tr>
	</table>
</body>
</html>