<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>グループの画面です</div>
	
	<br /><hr /><br />
	<div>所属サーバ登録</div>
	<form action="#" th:action="@{/project/serverRelation/regist}" th:object="${serverRelationForm}" method="post">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{environmentName}" />
		<input type="hidden" th:field="*{groupName}" />
		<table border="1" rules="all">
			<tr>
				<td>serverRelation</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{serverName}">
						<option th:each="server : ${serverList}" th:value="${server.serverName}" th:label="${server.serverName}" />
					</select>
				</td>
			</tr>

		</table>
		<input type="submit" value="Submit" />
	</form>
	<div>所属サーバ一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>server</td>
			<td>解除</td>
		</tr>
		<tr th:each="serverRelation : ${serverRelationList}">
			<td th:text="${serverRelation.serverName}" />
			<form method="POST" th:action="@{/project/serverRelation/delete}" th:object="${serverRelationKey}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{environmentName}" />
				<input type="hidden" th:field="*{groupName}" />
				<input type="hidden" name="serverName" th:value="${serverRelation.serverName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>適用ロール登録</div>
	<form action="#" th:action="@{/project/roleRelation/regist}" th:object="${roleRelationForm}" method="post">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{environmentName}" />
		<input type="hidden" th:field="*{groupName}" />
		<table border="1" rules="all">
			<tr>
				<td>roleRelation</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{roleName}">
						<option th:each="roleName : ${roleNameList}" th:value="${roleName}" th:label="${roleName}" />
					</select>
				</td>
			</tr>

		</table>
		<input type="submit" value="Submit" />
	</form>
	<div>適用ロール一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>role</td>
			<td>order</td>
			<td>解除</td>
		</tr>
		<tr th:each="roleRelation : ${roleRelationList}">
			<td th:text="${roleRelation.roleName}" />
			<td>
				<div style="display:inline-flex">
				<form method="POST" th:action="@{/project/roleRelation/sort}" th:object="${roleRelationOrderForm}">
					<input type="hidden" th:field="*{projectName}" />
					<input type="hidden" th:field="*{environmentName}" />
					<input type="hidden" th:field="*{groupName}" />
					<input type="hidden" name="OrderType" value="UP" />
					<input type="hidden" name="roleName" th:value="${roleRelation.roleName}" />
					<input type="submit" value="↑" />
				</form>
				<form method="POST" th:action="@{/project/roleRelation/sort}" th:object="${roleRelationOrderForm}">
					<input type="hidden" th:field="*{projectName}" />
					<input type="hidden" th:field="*{environmentName}" />
					<input type="hidden" th:field="*{groupName}" />
					<input type="hidden" name="OrderType" value="DOWN" />
					<input type="hidden" name="roleName" th:value="${roleRelation.roleName}" />
					<input type="submit" value="↓" />
				</form>
				</div>
			</td>
			<form method="POST" th:action="@{/project/roleRelation/delete}" th:object="${roleRelationKey}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{environmentName}" />
				<input type="hidden" th:field="*{groupName}" />
				<input type="hidden" name="roleName" th:value="${roleRelation.roleName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>【変数登録】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/project/serviceGroupVariable/regist}" th:object="${variableForm}">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{environmentName}" />
		<input type="hidden" th:field="*{groupName}" />
		<table border="1" rules="all">
			<tr>
				<td>variableName</td>
				<td>value</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{variableName}">
						<option th:each="variableName : ${allVariableNameList}" th:value="${variableName}" th:label="${variableName}" />
					</select>
				</td>
				<td><input type="text" th:field="*{value}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>【変数一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>variable</td>
			<td>value</td>
			<td>Delete</td>
		</tr>
		<tr th:each="variable : ${groupVariableList}">
			<td th:text="${variable.variableName}" />
			<td th:text="${variable.value}" />
			<form method="POST" th:action="@{/project/serviceGroupVariable/delete}" th:object="${serviceGroupVariableKey}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{environmentName}" />
				<input type="hidden" th:field="*{groupName}" />
				<input type="hidden" name="variableName" th:value="${variable.variableName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr />
	<a th:href="@{/environment/view/(projectName=${roleRelationForm.projectName}, environmentName=${roleRelationForm.environmentName})}" >戻る</a>
	<a th:href="@{/}" >トップ</a>
</body>
</html>