
<h1 class="page-header">適用画面</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>テストデータダウンロード</div>
	</div>
	<div class="panel-body">				
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>environment</th>
					<th>group</th>
					<th>server</th>
					<th>Download</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="server,iterStat : ${serverbuildList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td>
						<div th:text="${server.environmentName}" />
					</td>
					<td>
						<div th:text="${server.groupName}" />
					</td>
					<td>
						<div th:text="${server.serverName}" />
					</td>
					<td class="text-center">
						<form method="POST" enctype="multipart/form-data" th:action="@{/project/testZip}" th:object="${serverRelationKey}">
							<input type="hidden" th:field="*{projectName}" />
							<input type="hidden" name="environmentName" th:value="${server.environmentName}" />
							<input type="hidden" name="groupName" th:value="${server.groupName}" />
							<input type="hidden" name="serverName" th:value="${server.serverName}" />
							<button type="submit" class="btn btn-info btn-xs">
								<span class="glyphicon glyphicon-download-alt" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>適用</div>
	</div>
	<div class="panel-body">		
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div>適用対象の選択（グループ別適用）</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>environment</th>
									<th>group</th>
									<th>Build</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="group,iterStat : ${groupList}">
									<td>
										<div class="text-center" th:text="${iterStat.count}" />
									</td>
									<td>
										<div th:text="${group.environmentName}" />
									</td>
									<td>
										<div th:text="${group.groupName}" />
									</td>
									<td class="text-center">
										<a th:href="@{/project/apply/view(projectName=${project.projectName}, environmentName=${group.environmentName}, groupName=${group.groupName})}"
										th:text="Build" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div>適用対象の選択（サーバ別適用）</div>
					</div>
					<div class="panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>#</th>
									<th>environment</th>
									<th>group</th>
									<th>server</th>
									<th>Build</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="server,iterStat : ${serverbuildList}">
									<td>
										<div class="text-center" th:text="${iterStat.count}" />
									</td>
									<td>
										<div th:text="${server.environmentName}" />
									</td>
									<td>
										<div th:text="${server.groupName}" />
									</td>
									<td>
										<div th:text="${server.serverName}" />
									</td>
									<td class="text-center">
										<a th:href="@{/project/applyServer/view(projectName=${server.projectName}, environmentName=${server.environmentName}, groupName=${server.groupName}, serverName=${server.serverName})}"
										th:text="Build" />
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>適用履歴</div>
			</div>
			<div class="panel-body">			
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>environment</th>
							<th>group</th>
							<th>server</th>
							<th>tagName</th>
							<th>tagComment</th>
							<th>applyTime</th>
							<th>result</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="applyHistory,iterStat : ${applyHistoryList}">
							<td>
								<div class="text-center" th:text="${iterStat.count}" />
							</td>
							
							
							<td>
								<div th:text="${applyHistory.environmentName}" />
							</td>
							<td>
								<div th:text="${applyHistory.groupName}" />
							</td>
							<td>
								<div th:text="${applyHistory.serverName}" />
							</td>
							<td>
								<div th:text="${applyHistory.tagName}" />
							</td>
							<td>
								<div th:text="${applyHistory.tagComment}" />
							</td>
							<td>
								<div th:text="${#dates.format(applyHistory.applyTime, 'yyyy/MM/dd HH:mm:ss')}" />
							</td>
							<td class="text-center">
								<a th:href="@{/project/jenkins/result(projectName=${applyHistory.projectName}, applyHistroyId=${applyHistory.applyHistroyId})}"
								th:text="result" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
