
<h1 class="page-header">プロジェクト画面</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>プロジェクト名</div>
	</div>
	<div class="panel-body">
		<blockquote class="bg-info"><strong><span th:text="${project.projectName}" /></strong></blockquote>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>GITレポジトリ</div>
	</div>
	<div class="panel-body">
		<blockquote class="bg-info"><strong><span th:text="${project.repositoryUrl}" /></strong></blockquote>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>Jenkins登録</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/project/jenkins/regist}" th:object="${jenkinsInfoForm}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="text" class="form-control" th:field="*{jenkinsIpAddress}" placeholder="jenkinsIpAddress" />
			<input type="text" class="form-control" th:field="*{jenkinsPort}" placeholder="jenkinsPort" />
			<input type="text" class="form-control" th:field="*{jenkinsJobName}" placeholder="jenkinsJobName" />
			<input type="submit" class="btn btn-primary" value="更新" />
		</form>
	</div>
</div>
