<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>プロジェクトの画面です</div>
	<div>環境登録</div>
	<form action="#" th:action="@{/project/environment/regist}" th:object="${environmentForm}" method="post">
		<input type="hidden" th:field="*{projectName}" />
		<table border="1" rules="all">
			<tr>
				<td>environment</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{environmentName}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<div>環境一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>environment</td>
		</tr>
		<tr th:each="environment : ${environmentList}">
			<td><a th:href="*{projectName} + '/' + ${environment.environmentName}" th:text="${environment.environmentName}" /></td>
		</tr>
	</table>
	
	<div>ロール登録</div>
	<form action="#" th:action="@{/project/role/regist}" th:object="${roleForm}" method="post">
		<input type="hidden" th:field="*{projectName}" />
		<table border="1" rules="all">
			<tr>
				<td>role</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{roleName}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<div>ロール一覧</div>
	<table border="1" rules="all">
		<tr>
			<td>role</td>
		</tr>
		<tr th:each="role : ${roleList}">
			<td><a th:href="'role/' + *{projectName} + '/' + ${role.roleName}" th:text="${role.roleName}" /></td>
		</tr>
	</table>
</body>
</html>