
<h1 class="page-header">サーバの画面です</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>パラメータ</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/project/serverParameter/regist}" th:object="${serverParameterForm}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="hidden" th:field="*{serverName}" />
			<select class="form-control" th:field="*{parameterName}">
				<option value="ansible_connection" label="ansible_connection" />
				<option value="ansible_host" label="ansible_host" />
				<option value="ansible_user" label="ansible_user" />
				<option value="ansible_ssh_pass" label="ansible_ssh_pass" />
				<option value="ansible_ssh_private_key_file" label="ansible_ssh_private_key_file" />
				<option value="ansible_ssh_common_args" label="ansible_ssh_common_args" />
				<option value="ansible_sftp_extra_args" label="ansible_sftp_extra_args" />
				<option value="ansible_scp_extra_args" label="ansible_scp_extra_args" />
				<option value="ansible_ssh_extra_args" label="ansible_ssh_extra_args" />
				<option value="ansible_ssh_pipelining" label="ansible_ssh_pipelining" />
				<option value="ansible_become" label="ansible_become" />
				<option value="ansible_become_method" label="ansible_become_method" />
				<option value="ansible_become_user" label="ansible_become_user" />
				<option value="ansible_become_pass" label="ansible_become_pass" />
				<option value="ansible_shell_type" label="ansible_shell_type" />
				<option value="ansible_python_interpreter" label="ansible_python_interpreter" />
				<option value="ansible_ruby_interpreter" label="ansible_ruby_interpreter" />
				<option value="ansible_perl_interpreter" label="ansible_perl_interpreter" />
			</select>
			<input type="text" class="form-control" th:field="*{parameterValue}" placeholder="parameterValue" />
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		
		<br />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>parameterName</th>
					<th>parameterValue</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="serverParameter,iterStat : ${serverParameterList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td th:text="${serverParameter.parameterName}" />
					<td th:text="${serverParameter.parameterValue}" />
					<td class="text-center">
						<form th:action="@{/project/serverParameter/delete}" th:object="${serverParameterKey}" method="POST">
							<input type="hidden" th:field="*{projectName}" />
							<input type="hidden" th:field="*{serverName}" />
							<input type="hidden" name="parameterName" th:value="${serverParameter.parameterName}" />
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>変数登録</div>
	</div>
	<div class="panel-body">
		<form class="form-inline" action="#" th:action="@{/project/serverVariable/regist}" th:object="${variableForm}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="hidden" th:field="*{serverName}" />
			<select class="form-control" th:field="*{variableName}">
				<option th:each="variableName : ${allVariableNameList}" th:value="${variableName}" th:label="${variableName}" />
			</select>
			<input type="text" class="form-control" th:field="*{value}" placeholder="value" />
			<input type="submit" class="btn btn-primary" value="登録" />
		</form>
		
		<br />		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>variable</th>
					<th>value</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="variable,iterStat : ${variableList}">
					<td>
						<div class="text-center" th:text="${iterStat.count}" />
					</td>
					<td th:text="${variable.variableName}" />
					<td th:text="${variable.value}" />
					<td class="text-center">
						<form th:action="@{/project/serverVariable/delete}" th:object="${serverVariableKey}" method="POST">
							<input type="hidden" th:field="*{projectName}" />
							<input type="hidden" th:field="*{serverName}" />
							<input type="hidden" name="variableName" th:value="${variable.variableName}" />
							<button type="submit" class="btn btn-danger btn-xs">
								<span class="glyphicon glyphicon-trash" aria-hidden="true" />
							</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
