<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>サーバの画面です</div>
	
	<br /><hr /><br />
	<div>【パラメータ登録】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/project/serverParameter/regist}" th:object="${serverParameterForm}">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{environmentName}" />
		<input type="hidden" th:field="*{groupName}" />
		<input type="hidden" th:field="*{serverName}" />
		<table border="1" rules="all">
			<tr>
				<td>parameterName</td>
				<td>parameterValue</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{parameterName}">
						<option value="ansible_connection" label="ansible_connection" />
						<option value="ansible_host" label="ansible_host" />
						<option value="ansible_user" label="ansible_user" />
						<option value="ansible_ssh_pass" label="ansible_ssh_pass" />
						<option value="ansible_ssh_private_key_file" label="ansible_ssh_private_key_file" />
						<option value="ansible_ssh_common_args" label="ansible_ssh_common_args" />
						<option value="ansible_sftp_extra_args" label="ansible_sftp_extra_args" />
						<option value="ansible_scp_extra_args" label="ansible_scp_extra_args" />
						<option value="ansible_ssh_extra_args" label="ansible_ssh_extra_args" />
						<option value="ansible_ssh_pipelining" label="ansible_ssh_pipelining" />
						<option value="ansible_become" label="ansible_become" />
						<option value="ansible_become_method" label="ansible_become_method" />
						<option value="ansible_become_user" label="ansible_become_user" />
						<option value="ansible_become_pass" label="ansible_become_pass" />
						<option value="ansible_shell_type" label="ansible_shell_type" />
						<option value="ansible_python_interpreter" label="ansible_python_interpreter" />
						<option value="ansible_ruby_interpreter" label="ansible_ruby_interpreter" />
						<option value="ansible_perl_interpreter" label="ansible_perl_interpreter" />
					</select>
				</td>
				<td><input type="text" th:field="*{parameterValue}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>【パラメータ一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>parameterName</td>
			<td>parameterValue</td>
			<td>Delete</td>
		</tr>
		<tr th:each="serverParameter : ${serverParameterList}">
			<td th:text="${serverParameter.parameterName}" />
			<td th:text="${serverParameter.parameterValue}" />
			<td>
				<form method="POST" th:action="@{/project/serverParameter/delete}" th:object="${serverParameterKey}">
					<input type="hidden" th:field="*{projectName}" />
					<input type="hidden" th:field="*{environmentName}" />
					<input type="hidden" th:field="*{groupName}" />
					<input type="hidden" th:field="*{serverName}" />
					<input type="hidden" name="parameterName" th:value="${serverParameter.parameterName}" />
					<input type="submit" value="Delete" />
				</form>
			</td>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>【変数登録】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/project/serverVariable/regist}" th:object="${variableForm}">
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{environmentName}" />
		<input type="hidden" th:field="*{groupName}" />
		<input type="hidden" th:field="*{serverName}" />
		<table border="1" rules="all">
			<tr>
				<td>variableName</td>
				<td>value</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{variableName}">
						<option th:each="variableName : ${allVariableNameList}" th:value="${variableName}" th:label="${variableName}" />
					</select>
				</td>
				<td><input type="text" th:field="*{value}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>【変数一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>variable</td>
			<td>value</td>
			<td>Delete</td>
		</tr>
		<tr th:each="variable : ${variableList}">
			<td th:text="${variable.variableName}" />
			<td th:text="${variable.value}" />
			<form method="POST" th:action="@{/project/serverVariable/delete}" th:object="${serverVariableKey}">
				<input type="hidden" th:field="*{projectName}" />
				<input type="hidden" th:field="*{environmentName}" />
				<input type="hidden" th:field="*{groupName}" />
				<input type="hidden" th:field="*{serverName}" />
				<input type="hidden" name="variableName" th:value="${variable.variableName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr />
	<a th:href="@{/serviceGroup/view/(projectName=${variableForm.projectName}, environmentName=${variableForm.environmentName}, groupName=${variableForm.groupName})}" >戻る</a>
	<a th:href="@{/}" >トップ</a>
</body>
</html>