
<h1 class="page-header">モジュール詳細</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>モジュール</div>
	</div>
	<div class="panel-body">
		<h3 th:text="${module.name}" />
		<br />
		<blockquote class="bg-default"><strong><span th:text="${module.description}" /></strong></blockquote>
		<a th:href="@{/manager/module/create(moduleName=${module.name})}" th:text="create" />
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>parameter</th>
					<th>addedVersion</th>
					<th>required</th>
					<th>defaultValue</th>
					<th>choices</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="parameter : ${module.parameterList}">
					<td th:text="${parameter.name}" />
					<td th:text="${parameter.addedVersion}" />
					<td th:text="${parameter.required}" />
					<td th:text="${parameter.defaultValue}" />
					<td th:text="${parameter.choices}" />
					<td th:text="${parameter.description}" />
				</tr>
			</tbody>
		</table>
	</div>
</div>
