
<div class="panel panel-primary">
	<div class="panel-heading">
		<div>モジュール</div>
	</div>
	<div class="panel-body">
		<form action="#" th:action="@{/manager/module/registAvailableModule}" th:object="${availableModuleForm}" method="post">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>module</th>
						<th>available</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="moduleRow,iterStat : *{availableModuleRowList}">
						<td class="text-center">
							<div class="text-center" th:text="${iterStat.count}" />
						</td>
						<td>
							<a th:href="@{/manager/module/view(moduleName=${moduleRow.moduleName})}" th:text="${moduleRow.moduleName}" />
						</td>
						<td class="text-center">
							<input type="hidden" th:field="*{availableModuleRowList[__${iterStat.index}__].moduleName}" />
							<input type="checkbox" th:field="*{availableModuleRowList[__${iterStat.index}__].active}" />
						</td>
					</tr>
				</tbody>
			</table>
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>
	</div>
</div>


