
<div class="panel panel-primary">
	<div class="panel-heading">
		<div>モジュール</div>
	</div>
	<div class="panel-body">
		<form action="#" th:action="@{/create/view}" th:object="${form}" method="post">
			<div th:text="*{moduleName}"/>
			<input th:field="*{moduleName}" type="hidden" />
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>parameter</th>
						<th>content</th>
					</tr>
				</thead>
					<tr th:each="parameter,stat : *{parameterList}">
						<td>
							<div th:text="${parameter.key}"/>
						</td>
						<td>
							<input type="hidden" th:field="*{parameterList[__${stat.index}__].key}" />
							<input type="text" class="form-control" th:field="*{parameterList[__${stat.index}__].value}" />
						</td>
					</tr>
				<tbody>
				</tbody>
			</table>
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>
	</div>
</div>
