
<head th:fragment="static" th:remove="tag">
	<!-- Bootstrap -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="/css/dashboard.css" rel="stylesheet" />
	<link href="/css/jailer.css" rel="stylesheet" />
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	
	<!-- tablesorter -->
	<script src="/js/tablesorter/jquery.tablesorter.min.js"></script>
	<link href="/css/tablesorter/style.css" rel="stylesheet" />
	
	<!-- dataTables -->
	<script src="/js/dataTables/jquery.dataTables.min.js"></script>
	<script src="/js/dataTables/dataTables.bootstrap.min.js"></script>
	<link href="/css/dataTables/dataTables.bootstrap.min.css" rel="stylesheet" />
</head>

<head th:fragment="footer" th:remove="tag">
</head>

<div th:fragment="menubar" th:remove="tag">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Jansible</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/manager}">Manager</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div th:fragment="breadcrumb" th:remove="tag">
	<ol class="breadcrumb">
		<div th:each="breadcrumb : ${breadcrumbList}" th:remove="tag">
			<li>
				<a href="#" th:href="${breadcrumb.url}" th:text="${breadcrumb.name}" />
			</li>
		</div>
		<div th:each="breadcrumbActive : ${breadcrumbActiveList}" th:remove="tag">
			<li th:if="${breadcrumbActive} != null" class="active" th:text="${breadcrumbActive}" />
		</div>
	</ol>
</div>

<div th:fragment="sidebar" th:remove="tag">
	<ul class="nav nav-sidebar">
		<div th:each="menu : ${menuList}" th:remove="tag">
			<li th:class="${menu.active}? active"><a th:href="${menu.url}" th:text="${menu.name}" /></li>
		</div>
	</ul>
</div>

<div th:fragment="message" th:remove="tag">
	<div th:each="alert : ${alertList}" th:remove="tag">
		<div class="alert alert-danger alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<div th:text="${alert}" />
		</div>
	</div>
	<div th:each="message : ${messageList}" th:remove="tag">
		<div class="alert alert-warning alert-dismissible fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			<div th:text="${message}" />
		</div>
	</div>
</div>
