<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>タスクの画面です</div>
	
	<br /><hr /><br />
	<div th:text="${moduleName}" />
	<form action="#" th:action="@{/project/taskdetail/regist}" th:object="${form}" method="post">
		<input type="hidden" th:field="*{taskId}" />
		<input type="hidden" th:field="*{projectName}" />
		<input type="hidden" th:field="*{roleName}" />
		description:
		<input type="text" th:field="*{description}" />
		<table border="1" rules="all">
			<tr>
				<td>parameterName</td>
				<td>parameterValue</td>
				<td>addedVersion</td>
				<td>required</td>
				<td>defaultValue</td>
				<td>choices</td>
				<td>description</td>
			</tr>
			<tr th:each="taskParameter,stat : *{taskParameterList}">
				<td>
					<div th:text="${taskParameter.parameterName}"/>
					<input type="hidden" th:field="*{taskParameterList[__${stat.index}__].parameterName}" />
				</td>
				<td><input type="text" th:field="*{taskParameterList[__${stat.index}__].parameterValue}" /></td>
				<td th:text="${taskParameter.addedVersion}" />
				<td th:text="${taskParameter.required}" />
				<td th:text="${taskParameter.defaultValue}" />
				<td th:text="${taskParameter.choices}" />
				<td th:text="${taskParameter.description}" />
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br /><hr /><br />
	<div>【変数一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>variable</td>
		</tr>
		<tr th:each="variable : ${variableList}">
			<td th:text="${variable.variableName}" />
		</tr>
	</table>
</body>
</html>