
<h1 class="page-header">GLOBAL ROLE</h1>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>ロール</div>
	</div>
	<div class="panel-body">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>登録</div>
			</div>
			<form action="#" th:action="@{/manager/role/regist}" th:object="${form}" method="post">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<label>プロジェクト情報</label>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>role</th>
										<th>repositoryUrl</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="form-inline">
												<label>GLOBAL_</label>
												<input type="text" class="form-control" th:field="*{roleName}" placeholder="ROLE_NAME" />
											</div>
										</td>
										<td>
											<input type="text" class="form-control" th:field="*{repositoryUrl}" placeholder="repositoryUrl" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-6">
							<label>レポジトリ認証情報（プライベートのみ）</label>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>userName</th>
										<th>password</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><input type="text" class="form-control" th:field="*{userName}" placeholder="userName" /></td>
										<td><input type="password" class="form-control" th:field="*{password}" placeholder="password" /></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<input type="submit" class="btn btn-info btn-block btn-lg" value="登録" />
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>一覧</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>role</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="role : ${roleList}">
							<td>
								<a th:href="@{/manager/role/view(roleName=${role.roleName})}" th:text="${role.roleName}" />
							</td>
							<td class="text-center">
								<form method="POST" th:action="@{/manager/role/delete}" th:object="${roleKey}">
									<input type="hidden" name="roleName" th:value="${role.roleName}" />
									<input type="submit" class="btn btn-primary" value="Delete" />
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

