<!DOCTYPE html>
<html lang="ja">
<head>
	<meta content="ja" http-equiv="Content-Language" />
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>sample page</title>
</head>
<body>
	<div>ロールの画面です</div>
	
	<br /><hr /><br />
	<div>【タスク登録】</div>
	<form action="#" th:action="@{/manager/task/regist}" th:object="${form}" method="post">
		<input type="hidden" th:field="*{roleName}" />
		<table border="1" rules="all">
			<tr>
				<td>moduleName</td>
				<td>description</td>
			</tr>
			<tr>
				<td>
					<select size="1" th:field="*{moduleName}">
						<option th:each="moduleName : ${moduleNameList}" th:value="${moduleName}" th:label="${moduleName}" />
					</select>
				</td>
				<td><input type="text" th:field="*{description}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>【タスク一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>task</td>
			<td>description</td>
			<td>parameter</td>
			<td>order</td>
			<td>Delete</td>
		</tr>
		<tr th:each="task : ${taskList}">
			<td>
				<a th:href="@{/manager/task/view(roleName=${form.roleName}, taskId=${task.taskId})}"
				th:text="${task.moduleName}" />
			</td>
			<td th:text="${task.description}" />
			<td th:text="${task.parametersValue}" />
			<td>
				<div style="display:inline-flex">
				<form method="POST" th:action="@{/manager/task/order}" th:object="${taskOrderForm}">
					<input type="hidden" th:field="*{roleName}" />
					<input type="hidden" name="taskId" th:value="${task.taskId}" />
					<input type="hidden" name="orderType" value="UP" />
					<input type="submit" value="↑" />
				</form>
				<form method="POST" th:action="@{/manager/task/order}" th:object="${taskOrderForm}">
					<input type="hidden" th:field="*{roleName}" />
					<input type="hidden" name="taskId" th:value="${task.taskId}" />
					<input type="hidden" name="orderType" value="DOWN" />
					<input type="submit" value="↓" />
				</form>
				</div>
			</td>
			<td>
				<form method="POST" th:action="@{/manager/task/delete}" th:object="${taskKey}">
					<input type="hidden" th:field="*{roleName}" />
					<input type="hidden" name="taskId" th:value="${task.taskId}" />
					<input type="submit" value="Delete" />
				</form>
			</td>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>【テンプレートアップロード】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/manager/template/upload}" th:object="${uploadForm}">
		<input type="hidden" th:field="*{roleName}" />
		<input type="file" th:field="*{file}" />
		<br />
		<input type="submit" value="Upload" />
	</form>
	<div>【テンプレート一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>template</td>
			<td>Download</td>
			<td>Delete</td>
		</tr>
		<tr th:each="template : ${templateList}">
			<td th:text="${template.templateName}" />
			<form method="POST" enctype="multipart/form-data" th:action="@{/manager/download/template}" th:object="${fileForm}">
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${template.templateName}" />
				<td><input type="submit" value="Download" /></td>
			</form>
			<form method="POST" enctype="multipart/form-data" th:action="@{/manager/template/delete}" th:object="${fileForm}">
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${template.templateName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>【ファイルアップロード】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/manager/file/upload}" th:object="${uploadForm}">
		<input type="hidden" th:field="*{roleName}" />
		<input type="file" th:field="*{file}" />
		<br />
		<input type="submit" value="Upload" />
	</form>
	<div>【ファイル一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>file</td>
			<td>Download</td>
			<td>Delete</td>
		</tr>
		<tr th:each="file : ${fileList}">
			<td th:text="${file.fileName}" />
			<form method="POST" enctype="multipart/form-data" th:action="@{/manager/download/file}" th:object="${fileForm}">
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${file.fileName}" />
				<td><input type="submit" value="Download" /></td>
			</form>
			<form method="POST" enctype="multipart/form-data" th:action="@{/manager/file/delete}" th:object="${fileForm}">
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="fileName" th:value="${file.fileName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>【変数登録】</div>
	<form method="POST" enctype="multipart/form-data" th:action="@{/manager/roleVariable/regist}" th:object="${variableForm}">
		<input type="hidden" th:field="*{roleName}" />
		<table border="1" rules="all">
			<tr>
				<td>variableName</td>
				<td>value</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{variableName}" /></td>
				<td><input type="text" th:field="*{value}" /></td>
			</tr>
		</table>
		<input type="submit" value="Submit" />
	</form>
	
	<br />
	<div>【変数一覧】</div>
	<table border="1" rules="all">
		<tr>
			<td>variable</td>
			<td>value</td>
			<td>Delete</td>
		</tr>
		<tr th:each="variable : ${variableList}">
			<td th:text="${variable.variableName}" />
			<td th:text="${variable.value}" />
			<form method="POST" th:action="@{/manager/roleVariable/delete}" th:object="${roleVariableKey}">
				<input type="hidden" th:field="*{roleName}" />
				<input type="hidden" name="variableName" th:value="${variable.variableName}" />
				<td><input type="submit" value="Delete" /></td>
			</form>
		</tr>
	</table>
	
	<br /><hr /><br />
	<div>Git</div>
	レポジトリ：<span th:text="${role.repositoryUrl}" />
	<div>コミット</div>
	<form action="#" th:action="@{/manager/git/commit}" th:object="${gitForm}" method="post">
		<input type="hidden" th:field="*{roleName}" />
		<table border="1" rules="all">
			<tr>
				<td>userName</td>
				<td>password</td>
				<td>comment</td>
			</tr>
			<tr>
				<td><input type="text" th:field="*{userName}" /></td>
				<td><input type="password" th:field="*{password}" /></td>
				<td><input type="text" th:field="*{comment}" /></td>
			</tr>
		</table>
		<input type="submit" value="Commit" />
	</form>
	
	<br /><hr />
	<a th:href="@{/manager}" >トップ</a>
</body>
</html>