<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.GlobalRoleMapper">
	
	<resultMap id="GlobalRoleMap" type="DbGlobalRole">
		<result property="roleName" column="role_name" />
		<result property="repositoryUrl" column="repository_url" />
		<result property="description" column="description" />
	</resultMap>
	
	<insert id="insertRole" parameterType="DbGlobalRole">
		INSERT INTO global_role
			(
				role_name,
				repository_url
			)
		VALUES
			(
				#{roleName},
				#{repositoryUrl}
			)
	</insert>
	
	<select id="selectRoleList" resultMap="GlobalRoleMap">
		SELECT
			*
		FROM
			global_role
	</select>
	
	<select id="selectRole" resultMap="GlobalRoleMap">
		SELECT
			*
		FROM
			global_role
		WHERE
			role_name = #{roleName}
	</select>
	
	<delete id="deleteRole">
		DELETE FROM
			global_role
		WHERE
			role_name = #{roleName}
	</delete>
	
	<update id="updateRoleDescription">
		UPDATE
			global_role
		SET
			description = #{description}
		WHERE
			role_name = #{roleName}
	</update>
	
	<insert id="insertDbFile" parameterType="DbGlobalRoleFile">
		INSERT INTO global_role_file
			(
				role_name,
				file_name
			)
		VALUES
			(
				#{roleName},
				#{fileName}
			)
	</insert>
	
	<select id="selectDbFileList" resultType="DbGlobalRoleFile">
		SELECT
			role_name as roleName,
			file_name as fileName
		FROM
			global_role_file
		WHERE
			role_name = #{roleName}
	</select>
	
	<delete id="deleteDbFile">
	    DELETE FROM
	    	global_role_file
	    WHERE
			role_name = #{roleName} AND
			file_name = #{fileName}
	</delete>
	
	<delete id="deleteDbFileByRole">
	    DELETE FROM
	    	global_role_file
	    WHERE
			role_name = #{roleName}
	</delete>
	
	<insert id="insertDbTemplate" parameterType="DbGlobalRoleTemplate">
		INSERT INTO global_role_template
			(
				role_name,
				template_name
			)
		VALUES
			(
				#{roleName},
				#{templateName}
			)
	</insert>
	
	<select id="selectDbTemplateList" resultType="DbGlobalRoleTemplate">
		SELECT
			role_name as roleName,
			template_name as templateName
		FROM
			global_role_template
		WHERE
			role_name = #{roleName}
	</select>
	
	<delete id="deleteDbTemplate">
	    DELETE FROM
	    	global_role_template
	    WHERE
			role_name = #{roleName} AND
			template_name = #{templateName}
	</delete>
	
	<delete id="deleteDbTemplateByRole">
	    DELETE FROM
	    	global_role_template
	    WHERE
			role_name = #{roleName}
	</delete>
	
	
	
	<insert id="insertDbRoleVariable" parameterType="DbGlobalRoleVariable">
		INSERT INTO global_role_variable
			(
				role_name,
				variable_name,
				value
			)
		VALUES
			(
				#{roleName},
				#{variableName},
				#{value}
			)
		ON DUPLICATE KEY UPDATE
			value = #{value}
	</insert>
	
	<select id="selectDbRoleVariableList" resultType="DbGlobalRoleVariable">
		SELECT
			role_name as roleName,
			variable_name as variableName,
			value as value
		FROM
			global_role_variable
		WHERE
			role_name = #{roleName}
	</select>
	
	<delete id="deleteDbRoleVariable">
	    DELETE FROM
	    	global_role_variable
	    WHERE
			role_name = #{roleName} AND
			variable_name = #{variableName}
	</delete>
	
	<delete id="deleteDbRoleVariableByRole">
	    DELETE FROM
	    	global_role_variable
	    WHERE
			role_name = #{roleName}
	</delete>
	
	
	<insert id="insertRoleTag" parameterType="DbGlobalRoleTag">
		INSERT INTO global_role_tag
			(
				role_name,
				tag_name,
				tag_comment
			)
		VALUES
			(
				#{roleName},
				#{tagName},
				#{tagComment}
			)
	</insert>
	
	<select id="selectRoleTagList" resultType="DbGlobalRoleTag">
		SELECT
			role_name as roleName,
			tag_name as tagName,
			tag_comment as tagComment
		FROM
			global_role_tag
		WHERE
			role_name = #{roleName}
	</select>
	
	<delete id="deleteRoleTag">
	    DELETE FROM
	    	global_role_tag
	    WHERE
			role_name = #{roleName}
	</delete>
	
	
	<insert id="insertRoleTagVariable" parameterType="DbGlobalRoleTagVariable">
		INSERT INTO global_role_tag_variable
			(
				role_name,
				tag_name,
				variable_name,
				value
			)
		VALUES
			(
				#{roleName},
				#{tagName},
				#{variableName},
				#{value}
			)
	</insert>
	
	<delete id="deleteRoleTagVariable">
	    DELETE FROM
	    	global_role_tag_variable
	    WHERE
			role_name = #{roleName}
	</delete>
	
</mapper>
