<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.JansibleMapper">
	
	<insert id="insertModule" parameterType="DbModule">
		INSERT IGNORE INTO module
			(module_name, description)
		VALUES
			(#{moduleName}, #{description})
	</insert>
	
	<insert id="insertParameter" parameterType="DbParameter">
		INSERT IGNORE INTO parameter
			(
			module_name,
			parameter_name,
			added_version,
			required,
			defautl_value,
			description,
			is_free_form
			)
		VALUES
			(
			#{moduleName},
			#{parameterName},
			#{addedVersion},
			#{required},
			#{defautlValue},
			#{description},
			#{freeForm}
			)
	</insert>
	
	<insert id="insertChoice" parameterType="DbChoice">
		INSERT IGNORE INTO choice
			(
			module_name,
			parameter_name,
			choice_value
			)
		VALUES
			(
			#{moduleName},
			#{parameterName},
			#{choiceValue}
			)
	</insert>
	
	<select id="selectModule" resultType="DbModule">
		SELECT
			module_name as moduleName,
			description as description
		FROM
			module
		WHERE
			module_name = #{moduleName}
	</select>
	
	<select id="selectParameterList" resultType="DbParameter">
		SELECT
			module_name as moduleName,
			parameter_name as parameterName,
			added_version as addedVersion,
			required as required,
			defautl_value as defautlValue,
			description as description,
			is_free_form as freeForm
		FROM
			parameter
		WHERE
			module_name = #{moduleName}
	</select>
	
	<select id="selectChoiceList" resultType="DbChoice">
		SELECT
			module_name as moduleName,
			parameter_name as parameterName,
			choice_value as choiceValue
		FROM
			choice
		WHERE
			module_name = #{moduleName} AND
			parameter_name = #{parameterName}
	</select>
	
	<select id="selectModuleNameList" resultType="java.lang.String">
		SELECT
			module_name
		FROM
			module
		ORDER BY
			module_name
	</select>
	
</mapper>
