<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ProjectMapper">
	
	<insert id="insertProject" parameterType="DbProject">
		INSERT INTO project
			(project_name)
		VALUES
			(#{projectName})
	</insert>
	
	<select id="selectProjectList" resultType="ProjectKey">
		SELECT
			project_name as projectName
		FROM
			project
	</select>
	
	<insert id="insertServiceGroup" parameterType="DbServiceGroup">
		INSERT INTO service_group
			(
				project_name,
				environment_name,
				group_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName}
			)
	</insert>
	
	<select id="selectServiceGroupList" resultType="DbServiceGroup">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName
		FROM
			service_group
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<insert id="insertServer" parameterType="DbServer">
		INSERT INTO server
			(
				project_name,
				environment_name,
				group_name,
				server_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{serverName}
			)
	</insert>
	
	<select id="selectServerList" resultType="DbServer">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			server_name as serverName
		FROM
			server
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<insert id="insertRole" parameterType="DbRole">
		INSERT INTO role
			(
				project_name,
				role_name
			)
		VALUES
			(
				#{projectName},
				#{roleName}
			)
	</insert>
	
	<select id="selectRoleList" resultType="DbRole">
		SELECT
			project_name as projectName,
			role_name as roleName
		FROM
			role
		WHERE
			project_name = #{projectName}
	</select>
	
	<insert id="insertEnvironment" parameterType="DbEnvironment">
		INSERT INTO environment
			(
				project_name,
				environment_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName}
			)
	</insert>
	
	<select id="selectEnvironmentList" resultType="DbEnvironment">
		SELECT
			project_name as projectName,
			environment_name as environmentName
		FROM
			environment
		WHERE
			project_name = #{projectName}
	</select>
	
	<insert id="insertTask" parameterType="DbTask">
		INSERT INTO task
			(
				project_name,
				role_name,
				module_name,
				description,
				free_form,
				sort
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{moduleName},
				#{description},
				#{freeForm},
				#{sort}
			)
	</insert>
	
	<select id="selectTaskList" resultType="DbTask">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			module_name as moduleName,
			description as description,
			free_form as freeForm,
			sort as sort
		FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
		ORDER BY
			sort
	</select>
	
	<select id="selectTask" resultType="DbTask">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			module_name as moduleName,
			description as description,
			free_form as freeForm,
			sort as sort
		FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			task_id = #{taskId}
	</select>
	
	<insert id="insertTaskDetail" parameterType="DbTaskDetail">
		INSERT INTO task_detail
			(
				task_id,
				project_name,
				role_name,
				parameter_name,
				parameter_value
			)
		VALUES
			(
				#{taskId},
				#{projectName},
				#{roleName},
				#{parameterName},
				#{parameterValue}
			)
		ON DUPLICATE KEY UPDATE
			parameter_value = #{parameterValue}
	</insert>
	
	<select id="selectTaskDetailList" resultType="DbTaskDetail">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			parameter_name as parameterName,
			parameter_value as parameterValue
		FROM
			task_detail
		WHERE
			task_id = #{taskId} AND
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<insert id="insertDbRoleRelation" parameterType="DbRoleRelation">
		INSERT INTO role_relation
			(
				project_name,
				environment_name,
				group_name,
				role_name,
				sort
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{roleName},
				#{sort}
			)
	</insert>
	
	<select id="selectDbRoleRelationList" resultType="DbRoleRelation">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			role_name as roleName,
			sort as sort
		FROM
			role_relation
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<insert id="insertDbFile" parameterType="DbFile">
		INSERT INTO file
			(
				project_name,
				role_name,
				file_name
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{fileName}
			)
	</insert>
	
	<select id="selectDbFileList" resultType="DbFile">
		SELECT
			project_name as projectName,
			role_name as roleName,
			file_name as fileName
		FROM
			file
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<insert id="insertDbTemplate" parameterType="DbTemplate">
		INSERT INTO template
			(
				project_name,
				role_name,
				template_name
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{templateName}
			)
	</insert>
	
	<select id="selectDbTemplateList" resultType="DbTemplate">
		SELECT
			project_name as projectName,
			role_name as roleName,
			template_name as templateName
		FROM
			template
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
</mapper>
