<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ProjectMapper">
	
	<insert id="insertProject" parameterType="DbProject">
		INSERT INTO project
			(
				project_name,
				repository_url
			)
		VALUES
			(
				#{projectName},
				#{repositoryUrl}
			)
	</insert>
	
	<select id="selectProjectList" resultType="DbProject">
		SELECT
			project_name as projectName,
			repository_url as repositoryUrl
		FROM
			project
	</select>
	
	<select id="selectProject" resultType="DbProject">
		SELECT
			project_name as projectName,
			repository_url as repositoryUrl,
			jenkins_ip_address as jenkinsIpAddress,
			jenkins_port as jenkinsPort,
			jenkins_job_name as jenkinsJobName
		FROM
			project
		WHERE
			project_name = #{projectName}
	</select>
	
	<update id="updateJenkinsInfo" parameterType="DbProject">
		UPDATE
			project
		SET
			jenkins_ip_address = #{jenkinsIpAddress},
			jenkins_port = #{jenkinsPort},
			jenkins_job_name = #{jenkinsJobName}
		WHERE
			project_name = #{projectName}
	</update>
	
</mapper>
