<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.RoleMapper">
    
	<resultMap id="RoleMap" type="DbRole">
		<result property="projectName" column="project_name" />
		<result property="roleName" column="role_name" />
		<result property="description" column="description" />
	</resultMap>
	
	<insert id="insertRole" parameterType="DbRole">
		INSERT INTO role
			(
				project_name,
				role_name
			)
		VALUES
			(
				#{projectName},
				#{roleName}
			)
	</insert>
	
	<select id="selectRoleList" resultMap="RoleMap">
		SELECT
			*
		FROM
			role
		WHERE
			project_name = #{projectName}
	</select>
	
	<select id="selectRole" resultMap="RoleMap">
		SELECT
			*
		FROM
			role
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<delete id="deleteRole">
		DELETE FROM
			role
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteRoleByProject">
		DELETE FROM
			role
		WHERE
			project_name = #{projectName}
	</delete>
	
	<update id="updateRoleDescliption">
	    UPDATE
	    	role
	    SET
	    	description = #{description}
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</update>
	
	
	<insert id="insertDbFile" parameterType="DbFile">
		INSERT INTO file
			(
				project_name,
				role_name,
				file_name
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{fileName}
			)
	</insert>
	
	<select id="selectDbFileList" resultType="DbFile">
		SELECT
			project_name as projectName,
			role_name as roleName,
			file_name as fileName
		FROM
			file
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<insert id="insertDbTemplate" parameterType="DbTemplate">
		INSERT INTO template
			(
				project_name,
				role_name,
				template_name
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{templateName}
			)
	</insert>
	
	<select id="selectDbTemplateList" resultType="DbTemplate">
		SELECT
			project_name as projectName,
			role_name as roleName,
			template_name as templateName
		FROM
			template
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<delete id="deleteDbFile" parameterType="FileKey">
	    DELETE FROM
	    	file
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			file_name = #{fileName}
	</delete>
	
	<delete id="deleteDbFileByRole">
	    DELETE FROM
	    	file
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteDbFileByProject">
	    DELETE FROM
	    	file
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbTemplate" parameterType="TemplateKey">
	    DELETE FROM
	    	template
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			template_name = #{templateName}
	</delete>
	
	<delete id="deleteDbTemplateByRole">
	    DELETE FROM
	    	template
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteDbTemplateByProject">
	    DELETE FROM
	    	template
	    WHERE
			project_name = #{projectName}
	</delete>
	
</mapper>
