<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ServiceGroupMapper">
	
	<insert id="insertServiceGroup" parameterType="DbServiceGroup">
		INSERT INTO service_group
			(
				project_name,
				environment_name,
				group_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName}
			)
	</insert>
	
	<select id="selectServiceGroupList" resultType="DbServiceGroup">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName
		FROM
			service_group
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<select id="selectServiceGroupListByProject" resultType="DbServiceGroup">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName
		FROM
			service_group
		WHERE
			project_name = #{projectName}
	</select>
	
	<delete id="deleteServiceGroup">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteServiceGroupByEnvironment">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteServiceGroupByProject">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<insert id="insertDbRoleRelation" parameterType="DbRoleRelation">
		INSERT INTO role_relation
			(
				project_name,
				environment_name,
				group_name,
				role_name,
				sort
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{roleName},
				#{sort}
			)
		ON DUPLICATE KEY UPDATE
			sort = #{sort}
	</insert>
	
	<select id="selectDbRoleRelationList" resultType="DbRoleRelation">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			role_name as roleName,
			sort as sort
		FROM
			role_relation
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
		ORDER BY
			sort
	</select>
	
	<delete id="deleteDbRoleRelation">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteDbRoleRelationByServiceGroup">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteDbRoleRelationByEnvironment">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbRoleRelationByProject">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<insert id="insertDbServerRelation" parameterType="DbServerRelation">
		INSERT INTO server_relation
			(
				project_name,
				environment_name,
				group_name,
				server_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{serverName}
			)
	</insert>
	
	<select id="selectDbServerRelationList" resultType="DbServerRelation">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			server_name as serverName
		FROM
			server_relation
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<select id="selectAllDbServerRelationList" resultType="DbServerRelation">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			server_name as serverName
		FROM
			server_relation
		WHERE
			project_name = #{projectName}
	</select>
	
	<select id="selectDbServerRelationListByServer" resultType="DbServerRelation">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			server_name as serverName
		FROM
			server_relation
		WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</select>
	
	<delete id="deleteDbServerRelation">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName} AND
			server_name = #{serverName}
	</delete>
	
	<delete id="deleteDbServerRelationByServiceGroup">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteDbServerRelationByEnvironment">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbServerRelationByProject">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbServerRelationByServer">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
</mapper>
