<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ServerMapper">
	
	<insert id="insertServer" parameterType="DbServer">
		INSERT INTO server
			(
				project_name,
				server_name,
				environment_name
			)
		VALUES
			(
				#{projectName},
				#{serverName},
				#{environmentName}
			)
	</insert>
	
	<select id="selectServerList" resultType="DbServer">
		SELECT
			project_name as projectName,
			server_name as serverName,
			environment_name as environmentName
		FROM
			server
		WHERE
			project_name = #{projectName}
	</select>
	
	<select id="selectServerListByEnvironment" resultType="DbServer">
		SELECT
			project_name as projectName,
			server_name as serverName,
			environment_name as environmentName
		FROM
			server
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<delete id="deleteServer">
	    DELETE FROM
	    	server
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
	<insert id="insertServerParameter" parameterType="DbServerParameter">
		INSERT INTO server_parameter
			(
				project_name,
				server_name,
				parameter_name,
				parameter_value
			)
		VALUES
			(
				#{projectName},
				#{serverName},
				#{parameterName},
				#{parameterValue}
			)
	</insert>
	
	<select id="selectServerParameterList" resultType="DbServerParameter">
		SELECT
			project_name as projectName,
			server_name as serverName,
			parameter_name as parameterName,
			parameter_value as parameterValue
		FROM
			server_parameter
		WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</select>
	
	<delete id="deleteServerParameter">
	    DELETE FROM
	    	server_parameter
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName} AND
			parameter_name = #{parameterName}
	</delete>
	
	<delete id="deleteServerParameterByServer">
	    DELETE FROM
	    	server_parameter
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
</mapper>
