<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ServiceGroupMapper">
    
	<resultMap id="ServiceGroupMap" type="DbServiceGroup">
		<result property="projectName" column="project_name" />
		<result property="environmentName" column="environment_name" />
		<result property="groupName" column="group_name" />
		<result property="description" column="description" />
	</resultMap>
	
	<resultMap id="RoleRelationMap" type="DbRoleRelation">
		<result property="projectName" column="project_name" />
		<result property="environmentName" column="environment_name" />
		<result property="groupName" column="group_name" />
		<result property="roleName" column="role_name" />
		<result property="sort" column="sort" />
	</resultMap>
	
	<resultMap id="ServerRelationMap" type="DbServerRelation">
		<result property="projectName" column="project_name" />
		<result property="environmentName" column="environment_name" />
		<result property="groupName" column="group_name" />
		<result property="serverName" column="server_name" />
	</resultMap>
	
	<insert id="insertServiceGroup" parameterType="DbServiceGroup">
		INSERT INTO service_group
			(
				project_name,
				environment_name,
				group_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName}
			)
	</insert>
	
	<select id="selectServiceGroup" resultMap="ServiceGroupMap">
		SELECT
			*
		FROM
			service_group
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<select id="selectServiceGroupList" resultMap="ServiceGroupMap">
		SELECT
			*
		FROM
			service_group
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<select id="selectServiceGroupListByProject" resultMap="ServiceGroupMap">
		SELECT
			*
		FROM
			service_group
		WHERE
			project_name = #{projectName}
	</select>
	
	<delete id="deleteServiceGroup">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteServiceGroupByEnvironment">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteServiceGroupByProject">
	    DELETE FROM
	    	service_group
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<insert id="insertDbRoleRelation" parameterType="DbRoleRelation">
		INSERT INTO role_relation
			(
				project_name,
				environment_name,
				group_name,
				role_name,
				sort
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{roleName},
				#{sort}
			)
		ON DUPLICATE KEY UPDATE
			sort = #{sort}
	</insert>
	
	<select id="selectDbRoleRelationList" resultMap="RoleRelationMap">
		SELECT
			*
		FROM
			role_relation
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
		ORDER BY
			sort
	</select>
	
	<delete id="deleteDbRoleRelation">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteDbRoleRelationByServiceGroup">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteDbRoleRelationByEnvironment">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbRoleRelationByProject">
	    DELETE FROM
	    	role_relation
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<insert id="insertDbServerRelation" parameterType="DbServerRelation">
		INSERT INTO server_relation
			(
				project_name,
				environment_name,
				group_name,
				server_name
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{serverName}
			)
	</insert>
	
	<select id="selectDbServerRelationList" resultMap="ServerRelationMap">
		SELECT
			*
		FROM
			server_relation
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<select id="selectAllDbServerRelationList" resultMap="ServerRelationMap">
		SELECT
			*
		FROM
			server_relation
		WHERE
			project_name = #{projectName}
	</select>
	
	<select id="selectDbServerRelationListByServer" resultMap="ServerRelationMap">
		SELECT
			*
		FROM
			server_relation
		WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</select>
	
	<delete id="deleteDbServerRelation">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName} AND
			server_name = #{serverName}
	</delete>
	
	<delete id="deleteDbServerRelationByServiceGroup">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteDbServerRelationByEnvironment">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbServerRelationByProject">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbServerRelationByServer">
	    DELETE FROM
	    	server_relation
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
	<update id="updateServiceGroupDescription" parameterType="DbServiceGroup">
		UPDATE
			service_group
		SET
			description = #{description}
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</update>
	
</mapper>
