<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.ServerMapper">
	
	<insert id="insertServer" parameterType="DbServer">
		INSERT INTO server
			(
				project_name,
				server_name,
				environment_name
			)
		VALUES
			(
				#{projectName},
				#{serverName},
				#{environmentName}
			)
	</insert>
	
	<select id="selectServerList" resultType="DbServer">
		SELECT
			project_name as projectName,
			server_name as serverName,
			environment_name as environmentName
		FROM
			server
		WHERE
			project_name = #{projectName}
	</select>
	
	<select id="selectServerListByEnvironment" resultType="DbServer">
		SELECT
			project_name as projectName,
			server_name as serverName,
			environment_name as environmentName
		FROM
			server
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<select id="selectServerListByServiceGroup" resultType="DbServer">
		SELECT
			s.project_name as projectName,
			s.server_name as serverName,
			s.environment_name as environmentName
		FROM
			server s
		WHERE
			EXISTS
				(
					SELECT
						1
					FROM
						server_relation r
					WHERE
						r.project_name = s.project_name AND
						r.environment_name = #{environmentName} AND
						r.group_name = #{groupName} AND
						r.server_name = s.server_name
				)
	</select>
	
	<delete id="deleteServer">
	    DELETE FROM
	    	server
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
	<insert id="insertServerParameter" parameterType="DbServerParameter">
		INSERT INTO server_parameter
			(
				project_name,
				server_name,
				parameter_name,
				parameter_value
			)
		VALUES
			(
				#{projectName},
				#{serverName},
				#{parameterName},
				#{parameterValue}
			)
	</insert>
	
	<select id="selectServerParameterList" resultType="DbServerParameter">
		SELECT
			project_name as projectName,
			server_name as serverName,
			parameter_name as parameterName,
			parameter_value as parameterValue
		FROM
			server_parameter
		WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</select>
	
	<delete id="deleteServerParameter">
	    DELETE FROM
	    	server_parameter
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName} AND
			parameter_name = #{parameterName}
	</delete>
	
	<delete id="deleteServerParameterByServer">
	    DELETE FROM
	    	server_parameter
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
</mapper>
