<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.TaskMapper">
	
	<insert id="insertTask" parameterType="DbTask">
		INSERT INTO task
			(
				project_name,
				role_name,
				module_name,
				description,
				sort
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{moduleName},
				#{description},
				#{sort}
			)
	</insert>
	
	<update id="updateTask" parameterType="DbTask">
		UPDATE
			task
		SET
			description = #{description}
		WHERE
			task_id = #{taskId} AND
			project_name = #{projectName} AND
			role_name = #{roleName}
	</update>
	
	<select id="selectTaskList" resultType="DbTask">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			module_name as moduleName,
			description as description,
			sort as sort
		FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
		ORDER BY
			sort
	</select>
	
	<select id="selectTask" resultType="DbTask">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			module_name as moduleName,
			description as description,
			sort as sort
		FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			task_id = #{taskId}
	</select>
	
	<delete id="deleteTask">
		DELETE FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			task_id = #{taskId}
	</delete>
	
	<delete id="deleteTaskByRole">
		DELETE FROM
			task
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteTaskByProject">
		DELETE FROM
			task
		WHERE
			project_name = #{projectName}
	</delete>
	
	<insert id="insertTaskDetail" parameterType="DbTaskDetail">
		INSERT INTO task_detail
			(
				task_id,
				project_name,
				role_name,
				parameter_name,
				parameter_value
			)
		VALUES
			(
				#{taskId},
				#{projectName},
				#{roleName},
				#{parameterName},
				#{parameterValue}
			)
		ON DUPLICATE KEY UPDATE
			parameter_value = #{parameterValue}
	</insert>
	
	<select id="selectTaskDetailList" resultType="DbTaskDetail">
		SELECT
			task_id as taskId,
			project_name as projectName,
			role_name as roleName,
			parameter_name as parameterName,
			parameter_value as parameterValue
		FROM
			task_detail
		WHERE
			task_id = #{taskId} AND
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<delete id="deleteTaskDetail">
		DELETE FROM
			task_detail
		WHERE
			task_id = #{taskId} AND
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteTaskDetailByRole">
		DELETE FROM
			task_detail
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteTaskDetailByProject">
		DELETE FROM
			task_detail
		WHERE
			project_name = #{projectName}
	</delete>
	
</mapper>
