<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jansible.mapper.VariableMapper">
	
	<select id="selectAllDbVariableNameList" resultType="java.lang.String">
		SELECT DISTINCT
			variable_name as variableName
		FROM
			role_variable
		WHERE
			project_name = #{projectName}
		
		UNION
		
		SELECT DISTINCT
			GV.variable_name as variableName
		FROM
			global_role_relation GR
				INNER JOIN
			global_role G ON
				GR.role_name = G.role_name
				INNER JOIN
			global_role_variable GV ON
				G.role_name = GV.role_name
		WHERE
			GR.project_name = #{projectName}
	</select>
	
	<select id="selectDbEnvironmentVariableList" resultType="DbEnvironmentVariable">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			variable_name as variableName,
			value as value
		FROM
			environment_variable
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</select>
	
	<select id="selectDbServiceGroupVariableList" resultType="DbServiceGroupVariable">
		SELECT
			project_name as projectName,
			environment_name as environmentName,
			group_name as groupName,
			variable_name as variableName,
			value as value
		FROM
			service_group_variable
		WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</select>
	
	<select id="selectDbServerVariableList" resultType="DbServerVariable">
		SELECT
			project_name as projectName,
			server_name as serverName,
			variable_name as variableName,
			value as value
		FROM
			server_variable
		WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</select>
	
	<select id="selectDbRoleVariableList" resultType="DbRoleVariable">
		SELECT
			project_name as projectName,
			role_name as roleName,
			variable_name as variableName,
			value as value
		FROM
			role_variable
		WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</select>
	
	<insert id="insertDbEnvironmentVariable" parameterType="DbEnvironmentVariable">
		INSERT INTO environment_variable
			(
				project_name,
				environment_name,
				variable_name,
				value
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{variableName},
				#{value}
			)
		ON DUPLICATE KEY UPDATE
			value = #{value}
	</insert>
	
	<insert id="insertDbServiceGroupVariable" parameterType="DbServiceGroupVariable">
		INSERT INTO service_group_variable
			(
				project_name,
				environment_name,
				group_name,
				variable_name,
				value
			)
		VALUES
			(
				#{projectName},
				#{environmentName},
				#{groupName},
				#{variableName},
				#{value}
			)
		ON DUPLICATE KEY UPDATE
			value = #{value}
	</insert>
	
	<insert id="insertDbServerVariable" parameterType="DbServerVariable">
		INSERT INTO server_variable
			(
				project_name,
				server_name,
				variable_name,
				value
			)
		VALUES
			(
				#{projectName},
				#{serverName},
				#{variableName},
				#{value}
			)
		ON DUPLICATE KEY UPDATE
			value = #{value}
	</insert>
	
	<insert id="insertDbRoleVariable" parameterType="DbRoleVariable">
		INSERT INTO role_variable
			(
				project_name,
				role_name,
				variable_name,
				value
			)
		VALUES
			(
				#{projectName},
				#{roleName},
				#{variableName},
				#{value}
			)
		ON DUPLICATE KEY UPDATE
			value = #{value}
	</insert>
	
	<delete id="deleteDbEnvironmentVariable">
	    DELETE FROM
	    	environment_variable
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			variable_name = #{variableName}
	</delete>
	
	<delete id="deleteDbEnvironmentVariableByEnvironment">
	    DELETE FROM
	    	environment_variable
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbEnvironmentVariableByProject">
	    DELETE FROM
	    	environment_variable
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbServiceGroupVariable">
	    DELETE FROM
	    	service_group_variable
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName} AND
			variable_name = #{variableName}
	</delete>
	
	<delete id="deleteDbServiceGroupVariableByServiceGroup">
	    DELETE FROM
	    	service_group_variable
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName} AND
			group_name = #{groupName}
	</delete>
	
	<delete id="deleteDbServiceGroupVariableByEnvironment">
	    DELETE FROM
	    	service_group_variable
	    WHERE
			project_name = #{projectName} AND
			environment_name = #{environmentName}
	</delete>
	
	<delete id="deleteDbServiceGroupVariableByProject">
	    DELETE FROM
	    	service_group_variable
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbServerVariable">
	    DELETE FROM
	    	server_variable
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName} AND
			variable_name = #{variableName}
	</delete>
	
	<delete id="deleteDbServerVariableByServer">
	    DELETE FROM
	    	server_variable
	    WHERE
			project_name = #{projectName} AND
			server_name = #{serverName}
	</delete>
	
	<delete id="deleteDbServerVariableByProject">
	    DELETE FROM
	    	server_variable
	    WHERE
			project_name = #{projectName}
	</delete>
	
	<delete id="deleteDbRoleVariable">
	    DELETE FROM
	    	role_variable
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName} AND
			variable_name = #{variableName}
	</delete>
	
	<delete id="deleteDbRoleVariableByRole">
	    DELETE FROM
	    	role_variable
	    WHERE
			project_name = #{projectName} AND
			role_name = #{roleName}
	</delete>
	
	<delete id="deleteDbRoleVariableByProject">
	    DELETE FROM
	    	role_variable
	    WHERE
			project_name = #{projectName}
	</delete>
	
</mapper>
