
<h1 class="page-header">グループ別適用</h1>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>適用範囲</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>environment</th>
							<th>group</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div th:text="${buildForm.environmentName}" />
							</td>
							<td>
								<div th:text="${buildForm.groupName}" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>対象サーバ</div>
			</div>
			<div class="panel-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>serverName</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="server,iterStat : ${serverList}">
							<td class="text-center">
								<div class="text-center" th:text="${iterStat.count}" />
							</td>
							<td>
								<a th:href="@{/project/server/detail(projectName=${server.projectName}, serverName=${server.serverName})}"
								th:text="${server.serverName}" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>適用ロール</div>
			</div>
			<div class="panel-body">				
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>#</th>
							<th>roleName</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="role,iterStat : ${roleList}">
							<td class="text-center">
								<div class="text-center" th:text="${iterStat.count}" />
							</td>
							<td>
								<a th:href="@{/project/role/detail(projectName=${role.projectName}, roleName=${role.roleName})}"
								th:text="${role.roleName}" />
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div th:substituteby="project/apply/common::commit" />
<div th:substituteby="project/apply/common::tagging" />
<div th:substituteby="project/apply/common::history" />
