
<h1 class="page-header">適用</h1>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>適用範囲</div>
			</div>
			<div class="panel-body">
				<table border="1" rules="all">
					<tr>
						<td>environment</td>
						<td>group</td>
					</tr>
					<tr>
						<td><div th:text="${buildForm.environmentName}" /></td>
						<td><div th:text="${buildForm.groupName}" /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>対象サーバ</div>
			</div>
			<div class="panel-body">
				<table border="1" rules="all">
					<tr>
						<td>serverName</td>
					</tr>
					<tr th:each="server : ${serverList}">
						<td>
							<a th:href="@{/server/view(projectName=${server.projectName}, serverName=${server.serverName})}"
							th:text="${server.serverName}" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div>適用ロール</div>
			</div>
			<div class="panel-body">
			
				<table border="1" rules="all">
					<tr>
						<td>roleName</td>
					</tr>
					<tr th:each="role : ${roleList}">
						<td>
							<a th:href="@{/role/view(projectName=${role.projectName}, roleName=${role.roleName})}"
							th:text="${role.roleName}" />
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">
		<div>適用</div>
	</div>
	<div class="panel-body">		
		<form class="form-inline" action="#" th:action="@{/project/git/commit}" th:object="${buildForm}" method="post">
			<input type="hidden" th:field="*{projectName}" />
			<input type="hidden" th:field="*{environmentName}" />
			<input type="hidden" th:field="*{groupName}" />
			<input type="text" class="form-control" th:field="*{userName}" placeholder="userName" />
			<input type="password" class="form-control" th:field="*{password}" placeholder="password" />
			<input type="text" class="form-control" th:field="*{comment}" placeholder="comment" />
			<input type="submit" class="btn btn-primary" value="Build" />
		</form>
	</div>
</div>

<br />
<a th:href="@{/project/view/(projectName=${buildForm.projectName})}" >戻る</a>
